# Ignorar diretórios e arquivos do controle de versão
.git
.gitignore

# Ignorar arquivos de cache do Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Ignorar arquivos de ambiente virtual
venv/
*.env

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de logs
*.log

# Ignorar arquivos de banco de dados SQLite (se não for necessário no build)
db.sqlite3

# Ignorar arquivos estáticos e de mídia gerados (caso sejam coletados em runtime)
staticfiles/
media/

# Ignorar arquivos temporários e de compilação
*.swp
*.bak
*.tmp

# Ignorar arquivos relacionados ao Docker Compose
docker-compose.override.yml
