{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/f0a14fd364.js" crossorigin="anonymous"></script>
    <title>Redefinição de Senha</title>
</head>
<body>
    <div class="central-container">
        <div class="reset-div">
            <h2>Esqueceu a senha?</h2>
            <p>Digite o email associado à sua conta para redefinir sua senha.</p>
            <form method="post" class="reset-form">
                {% csrf_token %}
                <label class="label-input" for="">
                    <i class="fa-solid fa-envelope icon-modify"></i>
                    <input type="email" name="email" placeholder="Email" required/>
                </label>
                <button class="btn primary-button" type="submit">Enviar email de redefinição</button>
            </form>
            <a class="link" href="{% url 'login' %}">Voltar para o login</a>
        </div>
    </div>
</body>
</html>