{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/f0a14fd364.js" crossorigin="anonymous"></script>
    <title>{{ turma.name}}</title>
</head>
<body>
    <!--Referência tela de turma-->
    {% include 'tabs.html' %}
    
    <div class="container content-item">
        <button type="button" class="mt-3 row-itens" data-toggle="modal" data-target="#studentModal">Novo aluno</button>
        
        <ul class="mt-3">
            {% for student in students %}
                <a href= "{% url 'select_student' student.id %}" class="row-itens">{{ student.name }}</a>
            {% empty %}
                <li class="row-itens">Nenhum aluno encontrado.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="studentModalLabel">Novo Aluno</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="studentForm" method="POST" enctype="multipart/form-data" action="{% url 'create_student' turma.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="studentName">Nome</label>
                            <input type="text" class="form-control" id="studentName" name="name" required placeholder="Nome do aluno">
                        </div>
                        <div class="form-group">
                            <label for="studentEmail">Email</label>
                            <input type="text" class="form-control" id="studentEmail" name="email" required placeholder="Email do aluno">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary" onclick="submitForm()">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function submitForm() {
            document.getElementById('studentForm').submit();
        }
    </script>
</body>
</html>